input{
    width: 80vw !important;
    border: none;
    outline: none;
    padding: 5px 10px;
    margin-bottom: 25px;
}

label{
    margin-bottom: 5px;
}


@media screen and (max-width: 500px) {
    input{
        width: 95vw !important;
    }
}